body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 20px auto;
  width: fit-content;
}

.counter{
  padding: 20px 25px;
  border: 1px solid darkgray;
  border-radius: 3px;
  background-color: cyan;
  color: black;
  font-family: Roboto-mono, monospace;
  margin: 0 15px;
}

.button{
  padding: 15px 20px;
  border: 1px solid darkgray;
  border-radius: 3px;
  color: black;
}
